<?xml version="1.0"?>
<launch>
  <arg name="nav_mapmetafile" />
  <arg name="nav_maptopic" default="nav_map"/>
  <arg name="loc_mapmetafile" />
  <arg name="loc_maptopic" default="loc_map"/>

   <node name="nav_map_server" pkg="map_server" type="map_server" output="screen" args="$(arg nav_mapmetafile)" >
    <param name="frame_id" value="map"/>
    <remap from="map" to="$(arg nav_maptopic)"/>
  </node>

   <node name="loc_map_server" pkg="map_server" type="map_server" output="screen" args="$(arg loc_mapmetafile)" >
    <param name="frame_id" value="map"/>
    <remap from="map" to="$(arg loc_maptopic)"/>
  </node>

  <include file="$(find calvin_navigation)/launch/components/amcl.launch">
    <arg name="use_map_topic" value="true"/>
    <arg name="map_topic" value="$(arg loc_maptopic)"/>
  </include>

  <include file="$(find calvin_navigation)/launch/components/move_base.launch">
    <arg name="map_topic" value="$(arg nav_maptopic)"/>
  </include>
</launch>
