<?xml version="1.0"?>
<launch>
  <!-- path to map meta file (.yaml) -->
  <arg name="mapmetafile"/>

  <include file="$(find calvin_2dnav)/launch/map_server.launch">
    <arg name="mapmetafile" value="$(arg mapmetafile)"/>
  </include>
  <include file="$(find calvin_navigation_global)/amcl_node.xml" />
  <include file="$(find calvin_navigation_global)/move_base.xml" />
</launch>
